@font-face {
  font-family: 'ocean_view';
  src: url('/fonts/ocean_view/OceanView.ttf') format('truetype');
}

@font-face {
  font-family: 'handmade';
  src: url('/fonts/handmade/HandmadeRegular.woff') format('woff');
}

@font-face {
  font-family: 'lgc';
  src: url('/fonts/louis_george_caf/LouisGeorgeCafe.woff') format('woff');
}

@font-face {
  font-family: 'icons';
  src: url('/fonts/pwhandysocialicons/PWHandySocialIcons.ttf') format('truetype');
}

.home_title { 
  font-family: ocean_view;
  font-size: 100px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: HotPink;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.item {
  width: 10em;
}
body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  max-width: 768px;
  text-align: justify;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;

}

.site_title {
  font-family: ocean_view;
}

.top_menu {
  font-family: handmade; 
}

.responsive {
  max-width: 100%;
  height: 275px;
  object-fit: cover;
}

.container_hmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;  
}

.flex-container div {
  flex: 1;
}

.item_icons {
  font-family: icons;
  align-items: top;
  justify-content: left;
  font-size: 2rem;
}

.item_hmenu_title {
}

.item_hmenu_menu {
}

h1,h2 {
  font-family: handmade;
}

body,p {
  font-family: lgc;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-menu ul {
  margin: 0;
}

#main-menu li {
  display: inline;
}

#main-menu li:before {
  content: none;
}

#main-menu a {
  margin: 0.7em 0.5em;
  font-weight: 600;
  border-bottom: none;
}

#main-menu a:hover {
  border-bottom: 2px solid var(--tertiary-color);
}

#main-menu a svg {
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
}

#main-menu a.active {
  border-bottom: 2px solid var(--tertiary-color);
}

.mm-normal {
  display: inline;
}

#mob-hb-icon, #mob-x-icon {
  display: none;
  background-color: inherit;
}

#mob-hb-icon svg {
  transform: scale(3); /* Scales the icon 150% of its original size */
  transform-origin: center;
  fill: HotPink;
}

#mob-hb-icon:hover {
  color: HotPink;
}

@media (max-width: 800px) {
  #mob-hb-icon {
    display: block;
  }
  .site_title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }
  .mm-normal {
    display: none;
  
  }
  #mobile-menu {
    font-size:10vw   
  }
  header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
  }
  main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .flex-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #main-menu ul {
    animation: trans 2s;
  }
  
  @keyframes trans {
  from {  
    transform: translateY(-100%);
    }
  to {
    transform: translateY(0%);
    }
  }
}

.mm-mobile-open ul {
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.main-menu a.lnk:hover, .socials-icon svg:hover {
}

.menu-btn svg,
.copy-button svg{
  height: 1.1em;
  width: 1.1em;
  vertical-align: text-top;
}

.menu-btn:hover {
}

.hamb-btn {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content : right;
  transition: max-height 0.3s ease-out; 
}

.menu-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 1em;
  height: 1em;
}


.main-menu a.lnk:hover, .socials-icon svg:hover {
  color: var(--link-color);
  border-bottom: 2px solid var(--tertiary-color);
}


